.overall {
  display: grid;
  grid-template-columns: repeat(auto-fill, 242px);
  grid-gap: 0;
  justify-content: space-between;
}

.card {
  width: 200px;
  height: auto;
  margin: 20px;
}

.addToCartButton {
  margin-top: 20px;
}

.price {
  color: #1976bd;
  font-weight: bold;
}

.paginationContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  z-index: 100;
}
